body {
  background-color: #06172A !important;
  background-image: url('background.jpg');
}

html[data-darkreader-scheme="dark"] div[id="app"],
html[data-darkreader-scheme="dark"] div[id="cameraDock"] {
  background-color: transparent !important;
}
